body {
    margin: 0px;
}

canvas{
    position: relative;
    top: -10px;
}

#speed{
    color: white;
    position: absolute;
    top: 10px;
    left:10px;
}

#scale{
    color: white;
    position: absolute;
    top: 30px;
    left:10px;
}

#lookat{
    color: white;
    position: absolute;
    top: 50px;
    left:10px;
}


